/*BANNER*/

.banner {
  font-family: "Publico";
}

/*HEADER TOP */

/* desktop version */
.header-desktop {
  height: 160px;
}
.card-badge-desktop {
  font-size: 0.5rem;
}
.card-badge-mobile {
  font-size: 0.75rem;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-badge-desktop {
  top: 27%;

  transform: translate(20%, -50%);
}
/*mobile version */
.mobile-header-top {
  height: 100px;
}

/******** NAVIGATION MENU *********/
.homepage-navbar {
  color: var(--black) !important;
  font-family: "Publico";
  font-size: 20px;
}

.homepage-navbar .nav-item {
  padding: 0.5rem;
}
@media screen and (min-width: 1200px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
.homepage-navbar .nav-link {
  color: var(--black);
}

.homepage-navbar a:hover {
  color: var(--primary) !important;
}

.homepage-navbar .dropdown-item:hover {
  background: none;
}
.separation {
  color: var(--secondary) !important;
}
.separation-mobile-menu {
  color: var(--black);
  opacity: 0.6;
}
#toggle-btn {
  width: 80%;
  height: auto;
  padding-bottom: 10px;
}
/* CAROUSEL */

#homepage-carousel {
  font-family: "Architects Daughter";
}
#homepage-carousel button {
  transition: 0.5s;
}
.carousel-img {
  height: 500px;
}
.carousel-img img {
  object-fit: contain;
}
button.button-carousel {
  background-color: var(--secondary) !important;
  border: none !important;
  padding: 0.5em;
}

/*******section box ***********/
.section-box {
  font-family: "Architects Daughter";
  background: var(--primary);
}
.box-img-container {
  height: 700px;
}
.box-description-container {
  height: 700px;
}
.box-img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box-description-img {
  background: var(--light);
}
.box-description-h2 {
  height: 20%;
  /* margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center; */
}
.box-description-btn {
  height: 20%;
  /* margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;*/
}

.box-description-p {
  height: 20%;
  /* margin-bottom: 0;
    padding: auto auto; */
}
.box-description-img {
  height: 40%;
}
@media screen and (max-width: 992px) {
  .box-img-container,
  .box-description-container {
    height: 800px;
  }
}

/******** SECTION ATOUTS *********/
.section-atouts {
  background-color: var(--blue);
  /* height: auto; */
  font-family: "Publico-regular";
}
@media screen and (max-width: 992px) {
  .atout-white-bg {
    background-color: var(--light);
  }
}

/************SECTION PRODUCTS**************/
.products-section {
  font-family: "Montserrat";
}

.heart-icon {
  width: 10%;
  right: 0;
  transform: translateY(-100%);
}
.heart-icon-full {
  opacity: 0;
  transition: 0.5s;
}
.heart-icon-full:hover {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .heart-icon {
    width: 16%;
  }
  .all-atouts-container {
    padding: 0;
  }
}

/**********SOCIAL NETWORK*********/

.section-socialNetwork {
  font-family: "Publico";
  background: var(--blue);
}

/*****FOOTER**********/

.footer-style {
  font-family: "Montserrat";
}

.footer-form {
  max-width: 360px;
}
.icon-social-footer,
.arrow-up-icon {
  height: 24px;
  width: 24px;
}

.arrow-up-icon img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/*******popup login************/
.login-popup {
  font-family: "publico";
}

.login-popup form {
  background: var(--blue);
}
.bi-eye-slash,
.bi-eye {
  color: var(--primary);
}

.login-popup-form input {
  border-color: var(--secondary);
}
.login-popup-form input:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 0 0.25rem rgb(217, 206, 197, 50%);
}

/***************products list page**************/
.products-list-section {
  font-family: "Publico-regular";
}

.form-select:focus {
  box-shadow: none;
  border-color: var(--black);
}

/*********variables****************/
:root {
  --primary: #e3c78f;
  --secondary: #d9cec5;
  --yellow: #ffeb9b;
  --light: white;
  --blue: #ebf8f9;
  --black: black;
  --login-background: #839298;
}

@font-face {
  font-family: "Publico";
  src: url("./public/assets/fonts/PublicoHeadlineWebBoldRegular/PublicoHeadlineWebBoldRegular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Publico-regular";
  src: url("./public/assets/fonts/Publico-Regular/Publico-regular/Publico-regular.ttf");
}

@font-face {
  font-family: "Palatino";
  src: url("./public/assets/fonts/PalatinoFontFree/Palatino.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fuggles";
  src: url("./public/assets/fonts/Fuggles-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

.btn:focus,
.btn:active,
.btn:target {
  outline: none !important;
  box-shadow: none !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-dark {
  background-color: var(--secondary) !important;
}
.btn-outline-primary {
  color: var(--black) !important;
  background-color: var(--primary) !important;
  transition: 0.5s;
}

.btn-outline-primary:hover {
  color: var(--black) !important;
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
}

a {
  text-decoration: none !important;
  color: var(--black) !important;
}

.bg-primary {
  font-family: "Montserrat";
  background-color: var(--primary) !important;
}

img {
  max-width: 100%;
}

h3 {
  font-size: 1.75rem;
}

/**********register***************/
.register-form h4,
.register-form button {
  font-family: "Publico";
}
.register-form input {
  font-family: "Montserrat";
}
.register-form input {
  border-color: var(--secondary);
}
.register-form input:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 0 0.25rem rgb(217, 206, 197, 25%);
}
.register-form .checkbox-input:focus {
  box-shadow: none;
}
.register-form .checkbox-input:checked {
  background-color: var(--light);
  border-color: var(--secondary);
  background-image: url("./public/assets/icones/check.svg");
}

/*********login-mobile-form***********/
.login-mobile-form h4,
.login-mobile-form .btn {
  font-family: "Publico";
}
.login-mobile-form input {
  border-color: var(--secondary);
}
.login-mobile-form input:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 0 0.25rem rgb(217, 206, 197, 25%);
}
.login-mobile-form .checkbox-input:focus {
  box-shadow: none;
}
.login-mobile-form .checkbox-input:checked {
  background-color: var(--light);
  border-color: var(--secondary);
  background-image: url("./public/assets/icones/check.svg");
}

/***************section mon compte******************/
.mon-compte {
  font-family: "Publico";
}
.container-ul-mon-compte ul li:hover {
  background-color: var(--primary);
}
.border-dashed {
  border-bottom: dashed 1px var(--secondary);
}
.mon-compte table,
.mon-compte .boutique-btn {
  font-family: "Montserrat";
}

/*********style hover mobile***************/

@media screen and (max-width: 1200px) {
  .nav-link:active,
  .dropdown-item:active {
    border: 0 px;
    background-color: var(--light);
  }
}

/*********Panier*************/

#cardModalStyle {
  background: var(--blue);
  font-family: "Publico-regular";
}

